<h1>Aloha Pages</h1>

<ul>
  <% @aloha_pages.each do |aloha_page| %>
    <li>
      <%= link_to aloha_page.title, aloha_page %> |
      <%= link_to 'Delete', aloha_page, method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
  <% end %>
</ul>

<br />

<%= form_for AlohaPage.new do |f| %>
  <%= f.hidden_field(:title, value: 'Title') %>
  <%= f.hidden_field(:body, value: 'Body') %>
  <%= f.submit "Create New Page", class: 'btn btn-primary' %>
<% end %>
