<h1>Pages</h1>

<ul>
  <% @pages.each do |page| %>
    <li>
      <%= link_to page.title, page %> |
      <%= link_to 'Edit', "/editor#{page_path(page)}" %> |
      <%= link_to 'Delete', page, method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
  <% end %>
</ul>

<br />

<%= form_for Page.new do |f| %>
  <%= f.hidden_field(:title, value: 'Title') %>
  <%= f.hidden_field(:body, value: 'Body') %>
  <%= f.submit "Create New Page", class: 'btn btn-primary' %>
<% end %>
